extends layout

block scripts
  != js('wall')
  script(type="text/javascript")
    var directory = !{JSON.stringify(directory)};
  
block content
  header
    h1 Global Hackerspaces Status Wall
    section #{total} spaces in directory
  section#tweets
    h1 Tweets
    ul
  section#spaces
    h1 Spaces
    ul
  section#loading
    h1 API Status
    ul
      each url, name in directory
        li(id='#{name}')
          details
            summary #{name}
            a(href='#{url}') #{url}
            ul
